menu "SmartVan"

config APP_VERSION
	string "The application version"
	default "0.0.0-development"

config PUBLISH_INTERVAL_MINUTES
	int "Cloud publish interval in minutes"
	default 15

endmenu # SmartVan

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

module = smartvan
module-str = SmartVan: Monitor a Camper Van
